<title><%= title(@product.title, "Products")%></title>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% admins_only do %>
	<%= link_to 'Edit Product', edit_product_path(@product) %> |
	<%= link_to 'Delete Product', product_path(@product),
				method: :delete, data: { 
					confirm: "Are you sure you want to delete this project?"
				} %> |
<% end %>
<% authorized?("create reviews", @product) do %>
	<%= link_to 'Review Product', new_product_review_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>

<ul id="reviews">
	<% @product.reviews.each do |review| %>
	  <li>
	  	#<%= review.id %> =
	  	<%= link_to review.title, [@product, review] %>
	  </li>
	<% end %>
